{% extends "base.html" %}
{% block div %}

<!-- Masthead -->
<header style="background-image: url({{ url_for('static', filename='profile_pics/' + post.author.profile_cover) }});"
    class="masthead_post">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold"> {{ post.title }} </h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5"> Scroll down to see the Post! </p>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="jumbotron">
        <h5>Posted by: <img style="height: 30px; width: 30px;" class="rounded-circle account-img"
                src="{{ url_for('static', filename='profile_pics/' + post.author.profile_image) }}" alt="">
            {{ post.author.username }}</h5>
        <h6 class="text-muted">Published on: {{ post.date.strftime("%B %d, %Y")}}</h6>
        {%if post.image_url %}
        <p><img class="post-image"
                src="{{ url_for('static', filename='posts/' + post.image_filename) }}" alt="{{ post.image_filename }}"
                style="border-radius: 10px;"></p>
        {% endif %}
        <p class="article-content">{{ post.text }} </p>

        {% if post.author == current_user %}
        <div style="float:left">

            <form action="{{ url_for('blog_posts.update', blog_post_id = post.id) }}" method="POST">
                <input style="border-radius: 40px;" class="btn btn-primary" type="submit" value="Edit Post">
            </form>

        </div>

        <div style="float:right">
            <button style="border-radius: 40px;" type="button" class="btn btn-danger" data-toggle="modal"
                data-target="#del_modal" name="button">Delete</button>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="del_modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Post?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure that you want to delete your post?.</p>
                    </div>
                    <div class="modal-footer">
                        <button style="border-radius: 40px;" type="button" class="btn btn-secondary"
                            data-dismiss="modal">No</button>
                        <form action="{{ url_for('blog_posts.delete_post', blog_post_id = post.id) }}" method="POST">
                            <input style="border-radius: 40px;" class="btn btn-danger" type="submit" value="Delete">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if current_user.is_authenticated %}

        <div style="float:center">

            <form action="{{ url_for('user_comments.create_comment', blog_post_id = post.id) }}" method="POST">
                <input style="border-radius: 40px;" class="btn btn-primary" type="submit" value="Comment">
            </form>

        </div>

        {% endif %}



        <hr class="my-4">
        <strong>
            <p style="color:black; "> Comments </p>
        </strong>


        {% for comment in comment %}
        <div style="border: 1px solid gray; padding: 10px; border-radius: 15px 15px 15px 15px;">
            <h6><strong><img style="height: 30px; width: 30px;" class="rounded-circle account-img"
                        src="{{ url_for('static', filename='profile_pics/' + comment.author.profile_image) }}" alt="">
                    {{ comment.author.username }}</strong> says: </h6>
            <p style="font-size: smaller;" class="text-muted">on {{ post.date.strftime("%B %d, %Y")}}</p>
            <p class="article-content"> {{ comment.text }} </p>
            <div style="display: inline-flex">
                {% if comment.author == current_user %}
                <div>
                    <form action="{{ url_for('user_comments.update_comment', comments_post_id = comment.id) }}"
                        method="POST">
                        <input style="border-radius: 40px;" class="btn btn-primary" type="submit" value="Edit Comment">
                    </form>
                </div>


                <div>
                    <button style="border-radius: 40px;" type="button" class="btn btn-danger" data-toggle="modal"
                        data-target="#del_modal1" name="button">Delete</button>
                </div>

                <div class="modal" tabindex="-1" role="dialog" id="del_modal1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Delete Comment?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure that you want to delete your comment?.</p>
                            </div>
                            <div class="modal-footer">
                                <button style="border-radius: 40px;" type="button" class="btn btn-secondary"
                                    data-dismiss="modal">No</button>
                                <form
                                    action="{{ url_for('user_comments.delete_comment', comments_post_id = comment.id) }}"
                                    method="POST">
                                    <input style="border-radius: 40px;" class="btn btn-danger" type="submit"
                                        value="Delete">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {% endif %}
        </div>

        {% endfor %}
    </div>
</div>



{% endblock %}