{% extends "base.html" %}

{% block div %}
<!-- Masthead -->
<header class="masthead_createpost">
    <div class="container h-100">
        <div style="color:white;" class="container">
            <form class="form-group" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.text.label(class = "form-control-label") }}
                    {{form.text(class = "form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{form.submit(class = "btn btn-outline-info", style='border-radius: 40px;') }}
                </div>
            </form>
        </div>
    </div>
    {% endblock %}
</header>